body{
    min-height: 100vh;
    background: url(images/landscape-little.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
}

h1{
    font-family: "AlegreyaSansSC-ExtraBold";
    text-align: center
}

p{
    font-size: 18px;
    text-align: center;
    line-height: 2px;
}

.varos{
    
    font-family: "AlegreyaSansSC-ExtraBold";
    font-weight: bolder;

}

.tartalom{
    font-family: "Alegreya-Medium";
    text-align: left;
    font-size: 18px;
}
/*szelesseg 500
felső eltartás 170
középen
bels[ eltartas 75 es 30*/

.box {
    text-align: left;
    max-width: 500px;
    margin: 90px auto 0;
    background: transparent linear-gradient(to left top, #949FCB 0%, #FFFCDC 100%) 0% 0% no-repeat padding-box;
    padding: 120px 15px 30px;
    box-sizing: border-box;
    position: relative;
}

/*padding bels eltartas margin kulso eltartas*/

.content {
    max-width: 350px;
    margin: 0 auto;

}
/*mobil layout fits the screen*/

.avatar{
    position: absolute; /*első pozicionált szülőhöz képest fogja állítani pozition:relative*/
    top: -75px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
/*position: absolute (mindennek a tetejére kerül)*/

@media (min-width: 520px){
}